<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="VerboseLayout" value="${longdate} ${level:upperCase=true} ${callsite} ${threadname} ${threadid} ${message}" />
	<variable name="NiceLayout" value="${longdate}|${processid}|${level:uppercase=true}|${callsite}|${message}" />
	<variable name="NiceMailLayout" value="On ${longdate} the process with id ${processid} on session id ${processinfo:SessionId} after ${processtime} reports ${level:uppercase=true} issue when using function ${callsite}. The error was ${message}" />

    <targets>
        <target name="logfile" xsi:type="File" layout="${NiceLayout}" fileName="${shortdate}_${processname:fullName}.log" />
		<target name="logdebug" xsi:type="File" layout="${VerboseLayout}"
			fileName="${shortdate}_debug_${processname:fullName}.log" keepFileOpen="true" />
		<target xsi:type="ColoredConsole" name="console" layout="${VerboseLayout}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="logdebug" enabled="false" />
		<logger name="*" minlevel="Error" writeTo="console" />
    </rules>
</nlog>